
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times new roman";
    background: #f7f7f7;
    color: #222;
    line-height: 1.6;
    width: 100%;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    gap: 30px;
    padding: 20px;
}

.card {
    background: green;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}


.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    background: rgb(177, 128, 2);
}

.logo img {
    width: 90px;
    border-radius: 50%;
}

.site-title {
    font-size: 2.2rem;
    font-weight: 700;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.nav a:hover{
    color: rgb(130, 4, 4);
}
.header .order-btn {
    padding: 5px 15px;
    background: #0A7A33;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s ease;
}


.header .order-btn:hover{
    background: #0D9B46;        
    transform: scale(1.07);     
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}


.slider img {
    border-radius: 12px;
    height: 380px;
    object-fit: cover;
}


.side-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.Hours_mission h3{
    color: white;
}
.Hours_mission ul{
    list-style: none;
    font-size: 20px;
}
.Hours_mission p{

    font-size: 20px;
    font-style: italic;
    text-align: justify;
}
.menu h3{
    color: white;
}

.menu a{
    color: #222;
    text-decoration: none;
    font-size: 20px;
}
.menu a:hover{
    color: yellow;
    text-decoration: underline;
}
.menu ul{
    list-style: none;
}


.best-seller-title {
    text-align: center;
    background: #a8a5a5;
}

.best-seller-title h2 {
    font-size: 2rem;
}


.food-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.food-item {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: justify;
    font-size: 15px;
}
.food-item p{
    font-size: 15px;
}


.food-item img {
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.food-item .order-btn {
    display: inline-block;  
    margin-top: 10px;     
    padding: 10px 22px;
    background: rgb(143, 103, 2);     
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
}


.food-item .order-btn:hover {
    background: #0D9B46;       
    transform: scale(1.07);     
    box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}



.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
    align-items: start;
    background: rgb(177, 128, 2);
}


.footer section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    align-content: space-between;
     padding: 15px;
}




.footer a {
    text-decoration: none;
    color: black;        
    transition: 0.3s ease;
}
.footer a:hover{
    color: rgb(139, 4, 4);
}
.footer ul{
    list-style: none;
    padding: 10px;
}
.footer address {
    font-style: normal;  
    font-size: 0.95rem;
    line-height: 1.5;
    color: black;
}


@media(max-width: 850px) {

    .header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .nav {
        justify-content: center;
        flex-wrap: wrap;
    }

    .side-panel {
        grid-template-columns: 1fr;
    }
}



